<!DOCTYPE html>
<html>
    <head>
        <title>Future Value Application</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/mainpage.css">
        <div class="center">
            <h1 class = "headerPage2">Future Expected Value Calculator</h1><br>
            
            <form action="/predict" method="post">
                <!-- Show average annual Total Returns for 1, 3, 5, & 10 years -->
                <!-- List with 4 elements -->
                <div class="flex-parent-element">
                    <div class="flex-child-element magenta">
                        <h3 class="subtitle">Expected Bond</h3>
                        {% for row in bond_FV %}
                            {{row[0]}} yr
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            ${{row[1]}}
                            <hr>
                        {% endfor %} <!-- bond_FV, stock_FV -->
                    </div>
                    
                
                    <!-- Show average annual Total Returns for 1, 3, 5, & 10 years -->
                    <!-- List with 4 elements -->
                    <div class="flex-child-element green">
                        <h3 class="subtitle">Expected Stock</h3>
                        {% for row in stock_FV %}
                            {{row[0]}} yr
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            ${{row[1]}}
                            <hr>
                        {% endfor %} <!-- bond_FV, stock_FV -->
                    </div>
                </div>
            </form>
        </div>
        <img id="csumb" src="{{url_for('static', filename='csumb-logo-white.svg')}}" align="middle" height=100px/>
    </body>
</html>
