<!DOCTYPE html>
<html>
    <head>
        <title>Future Value Application</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/mainpage.css">
        <div class="center">
            <h1 class = "headerPage2">Future Expected Value Calculator</h1><br>
            <form action="/predict" method="post">
                {% for row in bond_FV %}
                    {{row}}
                {% endfor %}<!-- bond_FV, stock_FV -->
            
                {% for row in stock_FV %}
                    {{row}}
                {% endfor %}<!-- bond_FV, stock_FV -->
            </form>

        </div>

    </body>
</html>
