<!DOCTYPE html>
<html>
    <head>
        <title>Future Value Application</title>
        <meta charset="utf-8" />
    </head>

    <body> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/mainpage.css">
        <div class="center">
            <h1>Application for future expected value</h1><br>
            <div>
                <form>
                    <label class = "label" for="invest_amount">How much are you willing to invest per month?</label><br>
                    $<input type="text" id="invest_amount" name="invest_amount">
                </form>
            </div>
            <p>Counter:{{ count }}.</p>
            
            <div>
                <img src="{{url_for('static', filename='time-money.png')}}" align="middle" class='img'/>
            </div>
        </div>

    </body>
</html>