<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='/styles/stylesheet.css') }}">
<div>
    <h1>Application for future expected value</h1><br>

    <div name="center">
        <label for="inputNum">How much are you willing to invest per month?</label>
        <input name='inputNum' type="number" min="0" step="1"/>
    </div>
    <p>Counter:{{ count }}.</p>

</div>
<script type="text/javascript" src="{{ url_for('static',filename='/styles/main.js') }}"></script>
