
* {
    font-family: "Rubik", "sans-serif";
}

body {
    background-color: #003057;
}

.errorMsg{
    color: red;
    text-align: center;
}

.indexForm{
    margin-bottom: 100px;
}

.futureValInfo {
    color: beige;
    text-align: center;
}

.headerPage1 {
    color: #FFFFFF;
    font-size: 40pt;
    font-family: Arial, "sans-serif";
}

.headerPage2 {
    color: #FFFFFF;
    font-size: 40pt;
}

p {
    font-size: 20pt;
}

.label {
    font-size: 26pt;

}

.CSUMBLogoimg {
    border: 3px;
    height: 200px;
}

.image {
    border: 3px;
}

.calcImg{
    border: 3px;
    width: 175px;
    height: 150px;
}

.info{
    margin: 1em;
    text-align: center;
}

.center {
    text-align: center;
    margin-top: 50px;
    border: 3px solid #41695B;
    background-color: #496786;
}

#counter {
  visibility: hidden;
}

#invest_amount {
  margin-top: 50px;
}
#csumb {
    margin: 20px;
}

/* Future Value Page */
.flex-parent-element {
    display: flex;
    width: 100%;
}
.flex-child-element {
    flex: 1;
    border: 2px solid #41695B;
    margin: 10px;
    background-color: beige;
}

.flex-child-element:first-child {
    margin-right: 20px;
}

.subtitle {
    color: #CFCFFC;
}