
* {
    font-family: "Rubik", "sans-serif";
}

body {
    background-color: #003057;
}

.headerPage1 {
    color: #FFFFFF;
    font-size: 40pt;
    font-family: Arial, "sans-serif";
}

.headerPage2 {
    color: #FFFFFF;
    font-size: 40pt;
}

p {
    font-size: 20pt;
}

.label {
    font-size: 26pt;

}

.img {
    border: 3px;
}

.image {
    border: 3px;
}

.center {
    text-align: center;
    margin-top: 50px;
    border: 3px solid #41695B;
    background-color: #496786;
}

#counter {
  visibility: hidden;
}

#invest_amount {
  margin-top: 50px;
}
#csumb {
margin: 20px;
}
